!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv" => "x-ua-compatible", content: "ie=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }

    %link(rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css")

    %title= "HAML-Showcase"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body
    = yield
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" }

    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/ruby.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/xml.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/haml.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/erb.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js" }

    :javascript
      hljs.highlightAll();
