:ruby
  code_haml = File.readlines("source/code/haml.txt")
  code_erb = File.readlines("source/code/erb.txt")

:markdown
  # HAML vs ERB Comparison

.code-comparison
  .haml-block
    %h2 HAML
    %pre
      %code.language-haml
        - code_haml.each do |line|
          .code-link= line.chomp
          %br

  .erb-block
    %h2 ERB
    %pre
      %code.language-erb
        - code_erb.each do |line|
          .code-link= line.chomp
          %br

